<% layout("/layouts/boilerplate") %>

<div class="container">

<h1 class="mb-4">
Admin Dashboard
</h1>

<a
href="/admin/users"
class="btn btn-primary"
>
 View Users
</a>

<a
href="/admin/drivers"
class="btn btn-success"
>
 View Drivers
</a>

<a
href="/admin/routes"
class="btn btn-warning"
>
View Routes
</a>

<a
href="/admin/bookings"
class="btn btn-info"
>
View Bookings
</a>
<hr>

<div class="row">

<div class="col-md-3">
<div class="card text-center shadow">
<div class="card-body">
<h5>Total Users</h5>
<h2><%= users.length %></h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-center shadow">
<div class="card-body">
<h5>Total Drivers</h5>
<h2><%= drivers.length %></h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-center shadow">
<div class="card-body">
<h5>Total Routes</h5>
<h2><%= routes.length %></h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-center shadow">
<div class="card-body">
<h5>Total Earnings</h5>
<h2>₹<%= totalEarnings %></h2>
</div>
</div>
</div>


<div class="col-6 col-md-3">

<div class="card shadow text-center">

<div class="card-body">

<h5>Cancelled Trips</h5>

<h2>

<%= cancelledRoutes %>

</h2>

</div>

</div>

</div>

</div>

<hr>

<h3>
 Users
</h3>

<table class="table table-bordered">

<tr>
<th>Name</th>
<th>Phone</th>
<th>Action</th>
</tr>

<% users.forEach(user=>{ %>

<tr>

<td>
<%= user.username %>
</td>

<td>
<%= user.phone %>
</td>

<td>

<form
action="/admin/users/<%= user._id %>?_method=DELETE"
method="POST"
>

<button
class="btn btn-danger btn-sm"
>

Delete

</button>

</form>

</td>

</tr>

<% }) %>

</table>

<hr>

<h3>
 Routes
</h3>

<table class="table table-bordered">

<tr>
<th>Driver</th>
<th>Vehicle</th>
<th>Status</th>
<th>Action</th>
</tr>

<% routes.forEach(route=>{ %>

<tr>

<td>
<%= route.driver ?
route.driver.username :
"N/A" %>
</td>

<td>
<%= route.vehicleType %>
</td>

<td>
<%= route.status %>
</td>

<td>

<form
action="/admin/routes/<%= route._id %>?_method=DELETE"
method="POST"
>

<button
class="btn btn-danger btn-sm"
>

Delete

</button>

</form>

</td>

</tr>

<% }) %>

</table>

</div>